:root {
    --primary-color: #f5f0ecD9;
    --overlay-color: #ffffffDE;
    --menu-speed: 0.75s;
    --title: 'Space Mono', monospace;
    --text: 'Cousine', monospace;
    ;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.welcome {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 35vh;
}

h1 {
    font-family: var(--title);
    color: #7c7671;
    font-size: 150px;
    line-height: 2em;
    text-shadow: 1px 1px 1px black;
    animation: fadein 2s ease-in both;
}

.about {
    max-width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: row;
    padding: 2em 6em 6em 6em;
    background-color: #fdfdfd;
}

img {
    width: 35vw;
}

p {
    display: relative;
    padding: 3em 0 0 5em;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-align: left;
    font-family: var(--text);
    color: #7c7671;
}

a {
    font-family: var(--text);
    color: #7c7671;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 980px) {
    .welcome {
        min-height: 10vh;
        justify-content: center;
    }
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3em 3em 1em 0;
    }
    img {
        width: 500px;
    }
}

@media (width: 1024px) {
    .welcome {
        min-height: 10vh;
    }
    .about {
        padding: 3em 3em 1em 2em;
    }
    p {
        font-size: 25px;
        padding: 2em 0 0 2em;
    }
}

.menu-wrap {
    top: 1%;
    left: 46.3vw;
    position: absolute;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hamburger Line */

.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 3px;
    background: #7c7671;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    box-shadow: 0.5px 0.5px 0.5px black;
}


/* Hamburger Lines - Top & Bottom */

.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
    box-shadow: inherit;
}


/* Moves Line Down */

.menu-wrap .hamburger>div::after {
    top: 10px;
}


/* Toggler Animation */

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}


/* Turns Lines Into X */

.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}


/* Rotate On Hover When Checked */

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}


/* Show Menu */

.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.0s ease 0.0s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.0s ease;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.0s ease;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    font-family: var(--title);
    color: #303030;
    font-size: 2rem;
    padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.0s ease;
}

.download {
    position: relative;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        margin-top: -30%;
        height: 30%;
        opacity: 0;
    }
    to {
        margin-top: 0%;
        height: 100%;
        opacity: 1;
    }
}

@media (max-width: 980px) {
    .menu-wrap {
        left: 46%;
    }
    .menu-wrap .hamburger {
        width: 90px;
        height: 90px;
    }
    .menu-wrap .hamburger>div::before,
    .menu-wrap .hamburger>div::after {
        height: 5px;
    }
    .menu-wrap .hamburger>div {
        height: 5px;
    }
    .menu-wrap .menu>div>div>ul>li {
        font-size: 4rem;
    }
}